@font-face {
    font-family: "EuropeUnderground light";
    src: url("../fonts/EuropeUnderground_light.ttf");
}

@font-face {
    font-family: "Montserrat Thin";
    src: url("../fonts/Montserrat-Thin.ttf");
}

* {
    box-sizing: border-box;
    color: #fff;
}

body {
    background: linear-gradient(to right, #0c0d0f, #1c1d1f);
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: "EuropeUnderground light", sans-serif;
    margin-left: 70px;
    letter-spacing: 7px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.slide {
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    flex: 1;
    transition: all 500ms ease-in-out;
}

.background {
    height: 80vh;
    cursor: pointer;
    filter: blur(10px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.footer-card {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Montserrat Thin", sans-serif;
    border-radius: 0 0 20px 20px;
    padding: 10px 50px;
}

.footer-card a {
    text-decoration: none;
}

.footer-card a:hover {
    color: #ffd000;
}

.slide .footer-card p {
    opacity: 0;
    margin: 0;
    white-space: nowrap;
}

.slide.active {
    flex: 10;
}

.slide.active .background {
    filter: none;
    transition: filter 0.2s ease-in 0.2s;
}

.slide.active .footer-card {
    background-color: rgba(0,0,0,0.7);
}

.slide.active .footer-card p {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}